.main{
  width: 100%;
  background-color: $white;
  display: flex;
  flex-direction: column;

  &_container{
    max-width: 910px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

  }
    .main_block{
      display: flex;
      justify-content: center;
      margin-bottom: 130px;


    }
  &_title{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;

  }
  &_item{
      width: calc(100% / 2);
      height: 500px;
      margin-right: 60px;
      &:nth-child(even){
        margin-right: 0;
      }

    }

  &_img{
    height: 280px;
    margin-bottom: 30px;
    object-fit: cover;
  }
  &_figcaption p{
    width: 420px;
    height: 78px;
    font-size: 14px;
    line-height: 24px;
    color: #626262;
    font-weight: 400;
    font-family: $font-stack;

  }

}